@import 'variables.scss';
@import 'animations.scss';

*{
    font-family: $font-primary-regular;
}

html,
body{
	width: 100%;
    margin: 0;
    height: 100vh;
}

html{
    &:before{
        content: "";
        background-image: url('../img/background8-optimized.jpg');
        background-size: cover;
        background-position: center 0px;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -10;
    }
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a, a:hover, a:focus, a:active{
	outline: 0 none !important;
    text-decoration: none;
}

button{
    background-color: initial;
    cursor: pointer;
}


button:active, button:focus{
    outline: inherit !important;
    box-shadow: none !important;
}

input, 
textarea, 
select {
    box-shadow: none;
    outline: inherit;
}

textarea{
	resize: none;
}

select{
    appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label{
	margin: 0;
	padding: 0;
}

p,a{
    font-size: 0.8em;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.position-relative{
    position: relative;
}

main{
    height: 100%;
}

section{
    height: 100%;
}

.header-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    clip: rect(0,auto,auto,0);
}

.header{
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: auto 25%;
        grid-template-rows: 100%;
        grid-template-areas:
            "nav hamburger";
    transition: height 300ms ease;

    &.project-hovered{
        background-color: rgba($color: $white, $alpha: 0) !important;
    }

    &.small{
        height: 70px;

        .logo{
            .logo-text{
                padding-top: 10px;

            }
        }
    }
    
    nav{
        height: 100%;
        width: 100%;
        grid-area: nav;
        display: flex;
        .logo{
            height: 100%;
            position: relative;
            z-index: 11;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                box-sizing: border-box;
                padding-left: 50px;
                img{
                    // width: 100%;
                    height: 50%;
                    width: auto;
                    object-fit: contain; 
                }
                svg{
                    transition: height 300ms ease;
                    height: 50%;
                    fill: white;
                }
            }

            .logo-text{
                color: white;
                padding-top: 15px;
                box-sizing: border-box;
                >span{
                    // font-family: $font-primary-bold;
                    font-family: 'Gotham';
                    font-weight: bold;
                    transition: font-size 300ms ease;
                    &:first-child{
                        color: $light-green;
                    }
                }
            }
        }

        .main{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            animation-duration: 600ms;
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-fill-mode: forwards;
            align-items: center;

            li{
                height: 100%;
                animation-duration: 1200ms;
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                animation-fill-mode: forwards;
                height: 50px;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $font-primary-bold;
                    color: rgba(255, 255, 255, 0.5);
                    height: 100%;
                    box-sizing: border-box;
                    padding: 0 30px;
                    transition: color 100ms ease-in-out;
                    &:hover{
                        color: white;
                    }
                    &.active{
                        color: $light-blue !important;
                    }

                    &.resume-link{
                        border: solid 1px rgba($color: $white, $alpha: 0.6);
                        margin-left: 30px;
                        transition: border 100ms ease-in-out;
                        &:hover{
                            border: solid 1px rgba($color: $white, $alpha: 1);
                        }
                    }
                }
            }

            &.side-menu{
                position: fixed;
                right: 0;
                height: 100%;
                width: 220px;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
                padding-top: 135px;
                z-index: 10;
                visibility: hidden;
                li{
                    height: auto;
                    a{
                        padding: 15px 50px;
                        color: rgba(255, 255, 255, 0.5);
                        &:hover{
                            color: rgba(white, 1);
                        }
                    }
                }

                &.active{
                    opacity: 0;
                    animation-duration: 300ms;
                    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    animation-fill-mode: forwards;
                    animation-name: fadeIn;
                    li{
                        opacity: 0;
                        animation-duration: 300ms;
                        &:nth-child(2){
                            animation-delay: 0.1s;
                        }
                        &:nth-child(3){
                            animation-delay: 0.2s;
                        }
                        &:nth-child(4){
                            animation-delay: 0.3s;
                        }
                        &:nth-child(5){
                            animation-delay: 0.4s;
                        }
                        animation-name: slideInRight, fadeIn;
                    }
                }

                &.inactive{
                    animation-duration: 1200ms;
                    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    animation-fill-mode: forwards;
                    animation-name: fadeOut, hideMenu;
                    li{
                        animation-duration: 600ms;
                        &:nth-child(2){
                            animation-delay: 80ms;
                        }
                        &:nth-child(3){
                            animation-delay: 160ms;
                        }
                        &:nth-child(4){
                            animation-delay: 240ms;
                        }
                        &:nth-child(5){
                            animation-delay: 320ms;
                        }
                        animation-name: slideOutRight, fadeOut;
                    }
                }
            }
        }
    }

    .hamburger{
        grid-area: hamburger;
        display: flex;
        width: 120px;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-self: end;
        align-items: center;
        justify-self: end;
        position: relative;
        z-index: 11;
        animation-duration: 600ms;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        opacity: 0;
        .hamburger-box{
            width: 30px;
            .hamburger-inner,
            .hamburger-inner:after,
            .hamburger-inner:before{
                width: 26px;
                border-radius: 0;
                left: 0;
                background-color: $white;
            }

            .hamburger-inner{
                width: 20px;
            }
            .hamburger-inner:after{
                width: 20px;
                left: 6px;
                // bottom: -8px;
            }
            .hamburger-inner:before{
                // top: -8px;
            }
        }

        &.is-active{
            .hamburger-box{
                .hamburger-inner{
                    width: 26px;
                }
                .hamburger-inner:after{
                    width: 26px;
                    left: 0px;
                }
            }
        }
    }

    &.play{
        .main:not(.side-menu){
            animation-duration: 0.3s;
            animation-name: fadeOut;

            li{
                &:nth-child(1){
                    animation-duration: 1200ms;
                }
                &:nth-child(2){
                    animation-delay: 30ms;
                    animation-duration: 1800ms;
                }
                &:nth-child(3){
                    animation-delay: 60ms;
                    animation-duration: 2400ms;
                }
                &:nth-child(4){
                    animation-delay: 90ms;
                    animation-duration: 3000ms;
                }
                &:nth-child(5){
                    animation-delay: 90ms;
                    animation-duration: 3000ms;
                }
                animation-name: slideOutRight;
            }
        }
        .hamburger{
            animation-name: hamburgerAnimation, fadeIn;
            visibility: visible;
            opacity: 1;
        }
    }

    &.play-reverse{
        .main:not(.side-menu){
            opacity: 0;
            animation-delay: 0.2s;
            animation-name: fadeIn;

            li{
                &:first-child{
                    animation-duration: 600ms;
                }
                &:nth-child(2){
                    animation-duration: 500ms;
                }
                &:nth-child(3){
                    animation-duration: 400ms;
                }
                &:nth-child(4){
                    animation-duration: 300ms;
                }
                &:nth-child(5){
                    animation-duration: 300ms;
                }
                animation-name: slideInRight;
            }
        }
        .hamburger{
            animation-name: hamburgerAnimationReverse, fadeOut;
        }
    }

    &.dark,
    &.dark-side-menu{
        .logo{
            svg{
                fill: $dark-blue;
            }

            .logo-text{
                span:last-child{
                    color: $dark-blue;
                }
            }
        }

        nav{
            .main{
                &.side-menu{
                    li{
                        a{
                            color: rgba($color: $dark-blue, $alpha: 0.5);
                            &:hover{
                                color: rgba($color: $dark-blue, $alpha: 1);
                            }
                            &.resume-link{
                                border-color: $dark-blue;
                            }
                        }
                    }
                }
            }
        }

        .hamburger{
            .hamburger-box{
                .hamburger-inner,
                .hamburger-inner:after,
                .hamburger-inner:before{
                    background-color: $dark-blue;
                }
            }
        }
    }
}

.section{
    height: 100%;
    position: relative;
    overflow: hidden;
}

#hero{
    // position: fixed;
    height: 150%;
    >div{
        width: 100%;
        height: 67%;
        display: grid;
        grid-template-columns: 10% 15% 50% 25%;
        grid-template-rows: 1fr 20%;
        grid-template-areas: 
        "socialmedia . text ."
        "socialmedia project info info";
        position: relative;
    }

    #face{
        position: fixed;
        height: 100%;
        right: 0;
    }

    .actions{
        .link{
            margin-right: 3.5vw;
        }
    }
}

.title{
    font-family: $font-serif;
    font-size: 6vw;
    white-space: nowrap;
    font-weight: 500;
    color: $dark-blue;
}

.text{
    line-height: 1.3em;
    color: $dark-blue
}

.text-center{
    text-align: center;
}

#info-area{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas:
        'project info';

    >.project{
        grid-area: project;
        justify-self: end;
        position: relative;
        overflow: hidden;

        .swiper-container{
            width: 180px;
            height: 180px;
            background-color: $white;
            margin: 0;
            visibility: hidden;

            animation-duration: 1200ms;
            animation-delay: 1s;
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-fill-mode: forwards;

            .swiper-slide{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 10%;
                >img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    animation-duration: 1200ms;
                    animation-delay: 1s;
                    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    animation-fill-mode: forwards;
                }
            }
        }

        &.play{
            >.swiper-container{
                animation-name: slideInRight;
                img{
                    animation-name: slideInLeft;
                }
            }
        }
        
        .slide-to{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: rgba(black, 0.8);
            animation-duration: 1200ms;
            animation-delay: 1s;
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-fill-mode: forwards;
            animation-name: slideInRight;
            transition: opacity 300ms ease;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 36px;
                height: auto;
                opacity: 0;
                transform: translateY(90px);
                transition: all 150ms ease;
            }
        }

        &:hover{
            .slide-to{
                opacity: 1;
                img{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }

    >.info{
        grid-area: info;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(#3e2343, 0.6);
        animation-duration: 300ms;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        visibility: hidden;
        &.play{
            animation-name: fadeIn;
        }
    }
    .info-box{
        flex: 1 !important;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        box-sizing: border-box;
        padding: 3vw;

        p{
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            // letter-spacing: 1px;
        }

        h3,
        h1{
            color: white;
            font-size: 1.2em;
            margin-bottom: 2vh;
            font-family: $font-primary-bold;
        }
    }
}

.social-media{
    grid-area: socialmedia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 55px;
    z-index: 4;
    p{
        position: absolute;
        left: 50%;
        bottom: 210px;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0% 0%;
        color: rgba(white, 0.5);
        white-space: nowrap;
        animation-duration: 1200ms;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        visibility: hidden;
    }

    &.play{
        p{
            animation-name: fadeIn;
        }

        .social-media-icon{
            animation-name: slideInUp;
        }
        
    }
}

.social-media-icon{
    border: solid 1px rgba(white, 0.5);
    border-radius: 100%;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    animation-duration: 1.2s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden;

    &:nth-child(3){
        animation-delay: 1.2s;
    }
    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &.play{
        animation-name: slideInUp;
    }
}

.title-wrapper{
    margin-left: -0.5vw;
    margin-bottom: 10px;
    overflow: hidden;
    display: inline-block;
    .title{
        animation-duration: 1200ms;
        animation-delay: .7s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        visibility: hidden;
    }

    .title.play{
        animation-name: slideInLeft;
    }
}

.text{
    animation-duration: 1200ms;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden;

    &.play{
        animation-name: slideInUp;
    }
}

.hero-text{
    align-self: center;
    grid-area: text;

    .text{
        // white-space: nowrap;
        display: inline !important;
    }

    .age{
        // margin: 0 0.2em;
    }

    .title{
        color: $white;
        animation-delay: 1s;
    }

    .description{
        text-align: justify;
        color: rgba(white, 0.6);
        width: 50%;
        display: flex;
        animation-delay: 1.3s;
    }

    .actions{
        opacity: 0;
        animation-duration: 1200ms;
        animation-delay: 1.5s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
    }

    .actions.play{
        animation-name: slideInUp;
    }
}

.text-light{
    color: $white;
}

.button{
    padding: 16px 46px;
    font-family: $font-primary-bold;
    letter-spacing: 1px;
}

.button-empty{
    border: solid 1px rgba(255, 255, 255, 0.7);
}

.button-light{
    color: $white;
}

.link{
    font-family: $font-primary-bold;
    color: $light-blue;
    letter-spacing: 1px;
    white-space: nowrap;
}

#project-background-smarthack:before{
    background-image: url('../img/project-background-smarthack-min.png');
}

#project-background-rentit:before{
    background-image: url('../img/project-background-rentit-min.png');
}

.project-background-visible{
    opacity: 1 !important;
}

#projects-section{
    padding: 16vh 0px;
    box-sizing: border-box;
    background-color: $white;
    position: relative;
    min-height: 100%;
    height: auto;
    overflow: hidden;
    .projects-header{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .text{
            position: relative;
            z-index: 1;
        }

        .title-wrapper{
            margin-bottom: 60px;
        }

        &.light{
            h2{
                color: $white;
            }
            p{
                color: rgba($color: $white, $alpha: 0.6);
            }
        }
    }

    >.projects-header{
        .title-wrapper{
            .title{
                animation-delay: .7s;
            }
        }
        .text{
            max-width: 30%;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            animation-delay: .7s;
        }
    }

    .filters{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        position: relative;
        z-index: 3;
        li{
            font-family: $font-primary-bold;
            font-size: 0.8em;
            color: rgba($dark-blue, 0.6);
            padding: 0 60px;
            cursor: pointer;
            transition: color 300ms ease;

            &:hover{
                color: rgba($dark-blue, 1);
            }

            &.active{
                color: #44c2cb;
            }
        }
    }

    .project-background{
        // position: absolute;
        // z-index: 2;
        // top: 0;
        // width: 100%;
        // height: 100%;
        // background-position: center;
        // background-size: cover;
        // background-attachment: fixed;
        // opacity: 0;
        // transition: opacity 1000ms ease;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100%;
        // background-position: center;
        // background-size: cover;
        // background-attachment: fixed;
        opacity: 0;
        transition: opacity 1000ms ease;
        clip: rect(0, auto, auto, 0);

        &:before{
            content: "";
            top: 0;
            // background-image: url('../img/project-background-smarthack-min.png');
            background-size: cover;
            background-position: center 0px;
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 0;
        }

        >div{
            height: 100vh;
            display: grid;
            grid-template-columns: 10% 15% 25% 50%;
            grid-template-rows: auto;
            grid-template-areas: 
                "side-info . text .";

            .projects-header{
                grid-area: text;
                align-items: flex-start;
                height: auto;

                .title-wrapper{
                    padding-top: 22vh;
                    margin-bottom: 5px;
                }

                .title{
                    margin-left: -0.4vw;
                    text-align: left;
                    animation-delay: .7s;
                }

                .text{
                    text-align: justify;
                    animation-delay: .7s;
                }
            }
        }

        .side-info{
            grid-area: side-info;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            padding-bottom: 55px;
            p{
                position: fixed;
                z-index: 4;
                left: 5%;
                bottom: 5vh;
                transform: rotate(-90deg) translateY(-50%);
                transform-origin: 0% 0%;
                color: rgba(white, 0.5);
                white-space: nowrap;
            }
        }
    }

    .projects{
        position: relative;
        z-index: 5;
        >div{
            display: none;
            &.active{
                display: flex;
            }
        }
    }

    .project{
        >div{
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            box-shadow: 0 2px 10px 0 rgba(88,88,102,.07);
            >div{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                box-sizing: border-box;
                background-color: #fff;
                transition: background-color 150ms ease-in-out;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    opacity: 1;
                    transition: opacity 150ms ease-in-out;
                }
            }
        }
    }

    .project.design{
        margin: 0;
        align-self: center;
    }

    .project.poster{
        >div{
            >div{
                overflow: hidden;
                >div{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transform-style: preserve-3d;
                    >img{
                        position: absolute;

                        // &:first-child{
                        //     width: 110%;
                        //     height: auto;
                        //     left: -5%;
                        //     // margin-left: -100%;
                        //     top: -30%;
                        //     transform-style: preserve-3d;
                        //     filter: blur(10px);
                        // }
                        &:last-child{
                            height: 80%;
                            width: auto;
                            left:0;
                            right:0;
                            top: 0;
                            bottom: 0;
                            // box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.7);
                            margin: auto;
                            transform: translateZ(20px);
                        }
                    }
                } 

                
            }
        }
    }

    .project.website{
        >div{
            border: solid 1px #fff;
            >div{
                img{
                    padding: 30px;
                    box-sizing: border-box;
                    position: relative;
                    z-index: 4;
                }
                >div{
                    position: absolute;
                    box-sizing: border-box;
                    padding: 30px 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    opacity: 0;
                    transition: opacity 300ms ease-in-out;
                    z-index: 5;

                    h3,i{
                        color: #fff;
                    }
                    h3{
                        font-size: 2vw;

                    }
                }

                @media screen and (min-width: $screen-xs){
                    &:hover{
                        background-color: transparent;
                        img{
                            opacity: 0;
                            position: relative;

                        }
                        >div{
                            opacity: 1;
                            display: flex;
                        }
                    }  
                }
                &.hover{
                    background-color: transparent;
                    img{
                        opacity: 0;
                        position: relative;

                    }
                    >div{
                        opacity: 1;
                        display: flex;
                    }
                }  
            }
        }
    }

    &.light{

        .filters{
            li{
                color: rgba($white, 0.6);
            }
            .active{
                color: $light-blue;
            }
        }

        .line{
            .triangle{
                border-top-color: $white;
            }
            span,
            &:after,
            &:before
            {
                border-color: $white;
            }
        }
    }
}

#contact-section{
    height: 100%;
    position: relative;
    padding: 22vh 0 22vh;
    overflow: hidden;

    // .header{
    //     position: absolute;
    //     top: 0;
    //     .logo{
    //         svg{
    //             fill: $dark-blue;
    //         }
    //     }
    // }

    .content{
        margin-left: 25%;
        .title-wrapper{
            margin-left: -0.8vw;
        }

        p{
            width: 25%;
            text-align: justify;
            margin-bottom: 60px;
        }

        ul{
            margin-bottom: 60px;
            a{
                cursor: pointer;
            }
        }

        .social-media-icon{
            border-color: $dark-blue;
            margin-right: 15px;
        }

        .social-media-icons-wrapper{
            display: flex;
        }
    }

    .copyright{
        position: fixed;
        width: 10%;
        bottom: 60px;
        display: flex;
        align-items: center;
        opacity: 0;
        small{
            transform: translateX(50%) rotate(-90deg);
            transform-origin: 0 0;
            white-space: nowrap;
            opacity: 0.5;
        }
    }
}

.hand-wrapper{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
    
    >div{
        padding-bottom: 100%;
        position: relative;
        .hand{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 4;
            clip-path: url(#hand);
        }
    }
}
.pigeon-wrapper{
    width: 35%;
    position: absolute;
    bottom: 40vh;
    right: 15%;
    
    >div{
        padding-bottom: 100%;
        position: relative;
        .pigeon{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            clip-path: url(#pigeon);
        }
    }
}

.feather-wrapper{
    height: 0;
    opacity: 0;
    transition: opacity 1000ms ease;

    &.visible{
        opacity: 1;
    }
    >div{
        padding-bottom: 100%;
        position: relative;

        .feather{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 4;

            &.feather1{
                clip-path: url(#feather1);
            }

            &.feather2{
                clip-path: url(#feather2);
            }

            &.feather3{
                // top: -140px;
                clip-path: url(#feather3);
            }
        }
    }

    &.feather1-wrapper{
        width: 420px;
        margin-right: -70px;
        align-self: flex-end;
    }

    &.feather2-wrapper{
        // width: 25%;
        width: 320px;
        align-self: flex-start;
        // margin-left: 5%;
    }

    &.feather3-wrapper{
        // width: 25%;
        width: 200px;
        margin-left: -70px;
        // transform: translateY(-140px);
        align-self: flex-start;
        // margin-left: 5%;
    }
}

.line{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    position: relative;
    z-index: 3;
    div{
        display: flex;
        position: relative;
        width: 31px;

        .triangle{
            position: absolute;
            left: 52%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-left-width: 9px;
            border-right-width: 9px;
            border-top: 9px solid $dark-blue;
            transition: border-color 300ms ease;
        }

        span{
            display: block;
            position: absolute;
            width: 23px;
            top: 16px;
            border-bottom: solid 1px $dark-blue;
            transition: border-color 300ms ease;

            &:first-child{
                transform: rotate(45deg);
                transform-origin: 100% 100%;
                left: -7px;
            }
            &:last-child{
                transform: rotate(-45deg);
                transform-origin: 0% 0%;
                right: -7px;
            }
        }
    }

    &:after, &:before{
        position: relative;
        content: "";
        border-bottom: solid 1px $dark-blue;
        transition:  border-color 300ms ease;
        flex-grow: 1;
    }
}

.background{
    background-image: url('../img/background8-optimized.jpg');
    background-position: center 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#skills-section{
    padding: 16vh 0px 22vh;
    height: auto;
    min-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title{
        margin-bottom: 120px;
    }

    .line{
        margin-bottom: 120px;
    }

    .subtitle{
        text-transform: uppercase;
        font-size: 0.8em;
        font-family: $font-primary-bold;
        color: rgba($color: white, $alpha: 0.6);
        margin-bottom: 60px;
        margin-top: 30px;
        animation-duration: 1200ms;
        // animation-delay: 1s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        visibility: hidden;

        &.play{
            animation-name: slideInUp;
        }
    }

    .line{
        .triangle{
            border-top-color: $white;
        }
        span,
        &:after,
        &:before
        {
            border-color: $white;
        }
    }

    .container{
        width: 50%;
    }

    .skill-inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skill{
        display: flex;
        // align-items: center;
        justify-content: center;
        margin-bottom: 45px;
        animation-duration: 1200ms;
        animation-delay: 0.2s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        visibility: hidden;

        &.play{
            animation-name: slideInUp;
        }
        .skill-icon{
            width: 46px;
            height: 46px;
            margin-right: 18px;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .skill-name{
            color: rgba($color: $white, $alpha: 0.6);
            margin-bottom: 10px;
        }

        .skill-score{
            display: flex;
            .circle{
                width: 12px;
                height: 12px;
                margin-right: 7px;
                border-radius: 50%;
                border: solid 1px white;

                &:not(.circle-full){
                    border-color: rgba($color: white, $alpha: 0.6);
                }
            }

            .circle-full{
                background-color: white;
            }
        }
    }
}

#contact-section{
    background-color: $white;
}

//particles


#particles-js{
    z-index: -1;
}
/* ---- reset ---- */ canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:fixed; width: 100%; height: 100%; background-color: transparent; background-image: url(""); background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }


.lg-object{
    max-height: 80% !important;
}

// spaces

.mr-0 {
  margin-right: 0px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 25px !important;
}

.mr-4 {
  margin-right: 42px !important;
}

.mr-5 {
  margin-right: 68px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 25px !important;
}

.ml-4 {
  margin-left: 42px !important;
}

.ml-5 {
  margin-left: 68px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 25px !important;
}

.mb-4 {
  margin-bottom: 42px !important;
}

.mb-5 {
  margin-bottom: 68px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 25px !important;
}

.mt-4 {
  margin-top: 42px !important;
}

.mt-5 {
  margin-top: 68px !important;
}