@keyframes slideInLeft {
  0% {
    visibility: visible;
    transform: translate3d(-100%, 0, 0); }
  100% {
    visibility: visible;
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutLeft {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: visible;
    transform: translate3d(-100%, 0, 0); } }
@keyframes slideInRight {
  0% {
    visibility: visible;
    transform: translate3d(100%, 0, 0); }
  100% {
    visibility: visible;
    transform: translate3d(0, 0, 0); } }
@keyframes hamburgerAnimation {
  0% {
    visibility: visible;
    transform: translate3d(-30px, 0, 0); }
  100% {
    visibility: visible;
    transform: translate3d(0, 0, 0); } }
@keyframes hamburgerAnimationReverse {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: visible;
    transform: translate3d(-30px, 0, 0); } }
@keyframes slideOutRight {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: visible;
    transform: translate3d(100%, 0, 0); } }
@keyframes slideInUp {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(100%); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%); } }
@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1; }
  100% {
    visibility: hidden;
    opacity: 0; } }
@keyframes hideMenu {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }
* {
  font-family: "Proxima Nova", Georgia, sans-serif; }

html,
body {
  width: 100%;
  margin: 0;
  height: 100vh; }

html:before {
  content: "";
  background-image: url("../img/background8-optimized.jpg");
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a, a:hover, a:focus, a:active {
  outline: 0 none !important;
  text-decoration: none; }

button {
  background-color: initial;
  cursor: pointer; }

button:active, button:focus {
  outline: inherit !important;
  box-shadow: none !important; }

input,
textarea,
select {
  box-shadow: none;
  outline: inherit; }

textarea {
  resize: none; }

select {
  appearance: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
  padding: 0; }

p, a {
  font-size: 0.8em; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.align-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.position-relative {
  position: relative; }

main {
  height: 100%; }

section {
  height: 100%; }

.header-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  clip: rect(0, auto, auto, 0); }

.header {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-rows: 100%;
  grid-template-areas: "nav hamburger";
  transition: height 300ms ease; }
  .header.project-hovered {
    background-color: rgba(246, 247, 243, 0) !important; }
  .header.small {
    height: 70px; }
    .header.small .logo .logo-text {
      padding-top: 10px; }
  .header nav {
    height: 100%;
    width: 100%;
    grid-area: nav;
    display: flex; }
    .header nav .logo {
      height: 100%;
      position: relative;
      z-index: 11; }
      .header nav .logo a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        padding-left: 50px; }
        .header nav .logo a img {
          height: 50%;
          width: auto;
          object-fit: contain; }
        .header nav .logo a svg {
          transition: height 300ms ease;
          height: 50%;
          fill: white; }
      .header nav .logo .logo-text {
        color: white;
        padding-top: 15px;
        box-sizing: border-box; }
        .header nav .logo .logo-text > span {
          font-family: 'Gotham';
          font-weight: bold;
          transition: font-size 300ms ease; }
          .header nav .logo .logo-text > span:first-child {
            color: #8deb00; }
    .header nav .main {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      animation-duration: 600ms;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards;
      align-items: center; }
      .header nav .main li {
        height: 100%;
        animation-duration: 1200ms;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
        height: 50px; }
        .header nav .main li a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "proxima_nova_altbold", Georgia, sans-serif;
          color: rgba(255, 255, 255, 0.5);
          height: 100%;
          box-sizing: border-box;
          padding: 0 30px;
          transition: color 100ms ease-in-out; }
          .header nav .main li a:hover {
            color: white; }
          .header nav .main li a.active {
            color: #18ebf0 !important; }
          .header nav .main li a.resume-link {
            border: solid 1px rgba(246, 247, 243, 0.6);
            margin-left: 30px;
            transition: border 100ms ease-in-out; }
            .header nav .main li a.resume-link:hover {
              border: solid 1px #f6f7f3; }
      .header nav .main.side-menu {
        position: fixed;
        right: 0;
        height: 100%;
        width: 220px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        padding-top: 135px;
        z-index: 10;
        visibility: hidden; }
        .header nav .main.side-menu li {
          height: auto; }
          .header nav .main.side-menu li a {
            padding: 15px 50px;
            color: rgba(255, 255, 255, 0.5); }
            .header nav .main.side-menu li a:hover {
              color: white; }
        .header nav .main.side-menu.active {
          opacity: 0;
          animation-duration: 300ms;
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-fill-mode: forwards;
          animation-name: fadeIn; }
          .header nav .main.side-menu.active li {
            opacity: 0;
            animation-duration: 300ms;
            animation-name: slideInRight, fadeIn; }
            .header nav .main.side-menu.active li:nth-child(2) {
              animation-delay: 0.1s; }
            .header nav .main.side-menu.active li:nth-child(3) {
              animation-delay: 0.2s; }
            .header nav .main.side-menu.active li:nth-child(4) {
              animation-delay: 0.3s; }
            .header nav .main.side-menu.active li:nth-child(5) {
              animation-delay: 0.4s; }
        .header nav .main.side-menu.inactive {
          animation-duration: 1200ms;
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-fill-mode: forwards;
          animation-name: fadeOut, hideMenu; }
          .header nav .main.side-menu.inactive li {
            animation-duration: 600ms;
            animation-name: slideOutRight, fadeOut; }
            .header nav .main.side-menu.inactive li:nth-child(2) {
              animation-delay: 80ms; }
            .header nav .main.side-menu.inactive li:nth-child(3) {
              animation-delay: 160ms; }
            .header nav .main.side-menu.inactive li:nth-child(4) {
              animation-delay: 240ms; }
            .header nav .main.side-menu.inactive li:nth-child(5) {
              animation-delay: 320ms; }
  .header .hamburger {
    grid-area: hamburger;
    display: flex;
    width: 120px;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: end;
    align-items: center;
    justify-self: end;
    position: relative;
    z-index: 11;
    animation-duration: 600ms;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    opacity: 0; }
    .header .hamburger .hamburger-box {
      width: 30px; }
      .header .hamburger .hamburger-box .hamburger-inner,
      .header .hamburger .hamburger-box .hamburger-inner:after,
      .header .hamburger .hamburger-box .hamburger-inner:before {
        width: 26px;
        border-radius: 0;
        left: 0;
        background-color: #f6f7f3; }
      .header .hamburger .hamburger-box .hamburger-inner {
        width: 20px; }
      .header .hamburger .hamburger-box .hamburger-inner:after {
        width: 20px;
        left: 6px; }
    .header .hamburger.is-active .hamburger-box .hamburger-inner {
      width: 26px; }
    .header .hamburger.is-active .hamburger-box .hamburger-inner:after {
      width: 26px;
      left: 0px; }
  .header.play .main:not(.side-menu) {
    animation-duration: 0.3s;
    animation-name: fadeOut; }
    .header.play .main:not(.side-menu) li {
      animation-name: slideOutRight; }
      .header.play .main:not(.side-menu) li:nth-child(1) {
        animation-duration: 1200ms; }
      .header.play .main:not(.side-menu) li:nth-child(2) {
        animation-delay: 30ms;
        animation-duration: 1800ms; }
      .header.play .main:not(.side-menu) li:nth-child(3) {
        animation-delay: 60ms;
        animation-duration: 2400ms; }
      .header.play .main:not(.side-menu) li:nth-child(4) {
        animation-delay: 90ms;
        animation-duration: 3000ms; }
      .header.play .main:not(.side-menu) li:nth-child(5) {
        animation-delay: 90ms;
        animation-duration: 3000ms; }
  .header.play .hamburger {
    animation-name: hamburgerAnimation, fadeIn;
    visibility: visible;
    opacity: 1; }
  .header.play-reverse .main:not(.side-menu) {
    opacity: 0;
    animation-delay: 0.2s;
    animation-name: fadeIn; }
    .header.play-reverse .main:not(.side-menu) li {
      animation-name: slideInRight; }
      .header.play-reverse .main:not(.side-menu) li:first-child {
        animation-duration: 600ms; }
      .header.play-reverse .main:not(.side-menu) li:nth-child(2) {
        animation-duration: 500ms; }
      .header.play-reverse .main:not(.side-menu) li:nth-child(3) {
        animation-duration: 400ms; }
      .header.play-reverse .main:not(.side-menu) li:nth-child(4) {
        animation-duration: 300ms; }
      .header.play-reverse .main:not(.side-menu) li:nth-child(5) {
        animation-duration: 300ms; }
  .header.play-reverse .hamburger {
    animation-name: hamburgerAnimationReverse, fadeOut; }
  .header.dark .logo svg, .header.dark-side-menu .logo svg {
    fill: #1d213f; }
  .header.dark .logo .logo-text span:last-child, .header.dark-side-menu .logo .logo-text span:last-child {
    color: #1d213f; }
  .header.dark nav .main.side-menu li a, .header.dark-side-menu nav .main.side-menu li a {
    color: rgba(29, 33, 63, 0.5); }
    .header.dark nav .main.side-menu li a:hover, .header.dark-side-menu nav .main.side-menu li a:hover {
      color: #1d213f; }
    .header.dark nav .main.side-menu li a.resume-link, .header.dark-side-menu nav .main.side-menu li a.resume-link {
      border-color: #1d213f; }
  .header.dark .hamburger .hamburger-box .hamburger-inner,
  .header.dark .hamburger .hamburger-box .hamburger-inner:after,
  .header.dark .hamburger .hamburger-box .hamburger-inner:before, .header.dark-side-menu .hamburger .hamburger-box .hamburger-inner,
  .header.dark-side-menu .hamburger .hamburger-box .hamburger-inner:after,
  .header.dark-side-menu .hamburger .hamburger-box .hamburger-inner:before {
    background-color: #1d213f; }

.section {
  height: 100%;
  position: relative;
  overflow: hidden; }

#hero {
  height: 150%; }
  #hero > div {
    width: 100%;
    height: 67%;
    display: grid;
    grid-template-columns: 10% 15% 50% 25%;
    grid-template-rows: 1fr 20%;
    grid-template-areas: "socialmedia . text ." "socialmedia project info info";
    position: relative; }
  #hero #face {
    position: fixed;
    height: 100%;
    right: 0; }
  #hero .actions .link {
    margin-right: 3.5vw; }

.title {
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  white-space: nowrap;
  font-weight: 500;
  color: #1d213f; }

.text {
  line-height: 1.3em;
  color: #1d213f; }

.text-center {
  text-align: center; }

#info-area {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas: 'project info'; }
  #info-area > .project {
    grid-area: project;
    justify-self: end;
    position: relative;
    overflow: hidden; }
    #info-area > .project .swiper-container {
      width: 180px;
      height: 180px;
      background-color: #f6f7f3;
      margin: 0;
      visibility: hidden;
      animation-duration: 1200ms;
      animation-delay: 1s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards; }
      #info-area > .project .swiper-container .swiper-slide {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10%; }
        #info-area > .project .swiper-container .swiper-slide > img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          animation-duration: 1200ms;
          animation-delay: 1s;
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-fill-mode: forwards; }
    #info-area > .project.play > .swiper-container {
      animation-name: slideInRight; }
      #info-area > .project.play > .swiper-container img {
        animation-name: slideInLeft; }
    #info-area > .project .slide-to {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.8);
      animation-duration: 1200ms;
      animation-delay: 1s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards;
      animation-name: slideInRight;
      transition: opacity 300ms ease;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center; }
      #info-area > .project .slide-to img {
        width: 36px;
        height: auto;
        opacity: 0;
        transform: translateY(90px);
        transition: all 150ms ease; }
    #info-area > .project:hover .slide-to {
      opacity: 1; }
      #info-area > .project:hover .slide-to img {
        opacity: 1;
        transform: translateY(0px); }
  #info-area > .info {
    grid-area: info;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 35, 67, 0.6);
    animation-duration: 300ms;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden; }
    #info-area > .info.play {
      animation-name: fadeIn; }
  #info-area .info-box {
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    box-sizing: border-box;
    padding: 3vw; }
    #info-area .info-box p {
      text-align: center;
      color: rgba(255, 255, 255, 0.5); }
    #info-area .info-box h3,
    #info-area .info-box h1 {
      color: white;
      font-size: 1.2em;
      margin-bottom: 2vh;
      font-family: "proxima_nova_altbold", Georgia, sans-serif; }

.social-media {
  grid-area: socialmedia;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 55px;
  z-index: 4; }
  .social-media p {
    position: absolute;
    left: 50%;
    bottom: 210px;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0% 0%;
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    animation-duration: 1200ms;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden; }
  .social-media.play p {
    animation-name: fadeIn; }
  .social-media.play .social-media-icon {
    animation-name: slideInUp; }

.social-media-icon {
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  animation-duration: 1.2s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  visibility: hidden; }
  .social-media-icon:nth-child(3) {
    animation-delay: 1.2s; }
  .social-media-icon img {
    object-fit: contain;
    width: 100%;
    height: 100%; }
  .social-media-icon.play {
    animation-name: slideInUp; }

.title-wrapper {
  margin-left: -0.5vw;
  margin-bottom: 10px;
  overflow: hidden;
  display: inline-block; }
  .title-wrapper .title {
    animation-duration: 1200ms;
    animation-delay: .7s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden; }
  .title-wrapper .title.play {
    animation-name: slideInLeft; }

.text {
  animation-duration: 1200ms;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
  visibility: hidden; }
  .text.play {
    animation-name: slideInUp; }

.hero-text {
  align-self: center;
  grid-area: text; }
  .hero-text .text {
    display: inline !important; }
  .hero-text .title {
    color: #f6f7f3;
    animation-delay: 1s; }
  .hero-text .description {
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
    width: 50%;
    display: flex;
    animation-delay: 1.3s; }
  .hero-text .actions {
    opacity: 0;
    animation-duration: 1200ms;
    animation-delay: 1.5s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards; }
  .hero-text .actions.play {
    animation-name: slideInUp; }

.text-light {
  color: #f6f7f3; }

.button {
  padding: 16px 46px;
  font-family: "proxima_nova_altbold", Georgia, sans-serif;
  letter-spacing: 1px; }

.button-empty {
  border: solid 1px rgba(255, 255, 255, 0.7); }

.button-light {
  color: #f6f7f3; }

.link {
  font-family: "proxima_nova_altbold", Georgia, sans-serif;
  color: #18ebf0;
  letter-spacing: 1px;
  white-space: nowrap; }

#project-background-smarthack:before {
  background-image: url("../img/project-background-smarthack-min.png"); }

#project-background-rentit:before {
  background-image: url("../img/project-background-rentit-min.png"); }

.project-background-visible {
  opacity: 1 !important; }

#projects-section {
  padding: 16vh 0px;
  box-sizing: border-box;
  background-color: #f6f7f3;
  position: relative;
  min-height: 100%;
  height: auto;
  overflow: hidden; }
  #projects-section .projects-header {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    #projects-section .projects-header .text {
      position: relative;
      z-index: 1; }
    #projects-section .projects-header .title-wrapper {
      margin-bottom: 60px; }
    #projects-section .projects-header.light h2 {
      color: #f6f7f3; }
    #projects-section .projects-header.light p {
      color: rgba(246, 247, 243, 0.6); }
  #projects-section > .projects-header .title-wrapper .title {
    animation-delay: .7s; }
  #projects-section > .projects-header .text {
    max-width: 30%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    animation-delay: .7s; }
  #projects-section .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    position: relative;
    z-index: 3; }
    #projects-section .filters li {
      font-family: "proxima_nova_altbold", Georgia, sans-serif;
      font-size: 0.8em;
      color: rgba(29, 33, 63, 0.6);
      padding: 0 60px;
      cursor: pointer;
      transition: color 300ms ease; }
      #projects-section .filters li:hover {
        color: #1d213f; }
      #projects-section .filters li.active {
        color: #44c2cb; }
  #projects-section .project-background {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1000ms ease;
    clip: rect(0, auto, auto, 0); }
    #projects-section .project-background:before {
      content: "";
      top: 0;
      background-size: cover;
      background-position: center 0px;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 0; }
    #projects-section .project-background > div {
      height: 100vh;
      display: grid;
      grid-template-columns: 10% 15% 25% 50%;
      grid-template-rows: auto;
      grid-template-areas: "side-info . text ."; }
      #projects-section .project-background > div .projects-header {
        grid-area: text;
        align-items: flex-start;
        height: auto; }
        #projects-section .project-background > div .projects-header .title-wrapper {
          padding-top: 22vh;
          margin-bottom: 5px; }
        #projects-section .project-background > div .projects-header .title {
          margin-left: -0.4vw;
          text-align: left;
          animation-delay: .7s; }
        #projects-section .project-background > div .projects-header .text {
          text-align: justify;
          animation-delay: .7s; }
    #projects-section .project-background .side-info {
      grid-area: side-info;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      padding-bottom: 55px; }
      #projects-section .project-background .side-info p {
        position: fixed;
        z-index: 4;
        left: 5%;
        bottom: 5vh;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0% 0%;
        color: rgba(255, 255, 255, 0.5);
        white-space: nowrap; }
  #projects-section .projects {
    position: relative;
    z-index: 5; }
    #projects-section .projects > div {
      display: none; }
      #projects-section .projects > div.active {
        display: flex; }
  #projects-section .project > div {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(88, 88, 102, 0.07); }
    #projects-section .project > div > div {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      background-color: #fff;
      transition: background-color 150ms ease-in-out;
      cursor: pointer; }
      #projects-section .project > div > div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 1;
        transition: opacity 150ms ease-in-out; }
  #projects-section .project.design {
    margin: 0;
    align-self: center; }
  #projects-section .project.poster > div > div {
    overflow: hidden; }
    #projects-section .project.poster > div > div > div {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; }
      #projects-section .project.poster > div > div > div > img {
        position: absolute; }
        #projects-section .project.poster > div > div > div > img:last-child {
          height: 80%;
          width: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          transform: translateZ(20px); }
  #projects-section .project.website > div {
    border: solid 1px #fff; }
    #projects-section .project.website > div > div img {
      padding: 30px;
      box-sizing: border-box;
      position: relative;
      z-index: 4; }
    #projects-section .project.website > div > div > div {
      position: absolute;
      box-sizing: border-box;
      padding: 30px 0;
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      z-index: 5; }
      #projects-section .project.website > div > div > div h3, #projects-section .project.website > div > div > div i {
        color: #fff; }
      #projects-section .project.website > div > div > div h3 {
        font-size: 2vw; }
    @media screen and (min-width: 480px) {
      #projects-section .project.website > div > div:hover {
        background-color: transparent; }
        #projects-section .project.website > div > div:hover img {
          opacity: 0;
          position: relative; }
        #projects-section .project.website > div > div:hover > div {
          opacity: 1;
          display: flex; } }
    #projects-section .project.website > div > div.hover {
      background-color: transparent; }
      #projects-section .project.website > div > div.hover img {
        opacity: 0;
        position: relative; }
      #projects-section .project.website > div > div.hover > div {
        opacity: 1;
        display: flex; }
  #projects-section.light .filters li {
    color: rgba(246, 247, 243, 0.6); }
  #projects-section.light .filters .active {
    color: #18ebf0; }
  #projects-section.light .line .triangle {
    border-top-color: #f6f7f3; }
  #projects-section.light .line span, #projects-section.light .line:after, #projects-section.light .line:before {
    border-color: #f6f7f3; }

#contact-section {
  height: 100%;
  position: relative;
  padding: 22vh 0 22vh;
  overflow: hidden; }
  #contact-section .content {
    margin-left: 25%; }
    #contact-section .content .title-wrapper {
      margin-left: -0.8vw; }
    #contact-section .content p {
      width: 25%;
      text-align: justify;
      margin-bottom: 60px; }
    #contact-section .content ul {
      margin-bottom: 60px; }
      #contact-section .content ul a {
        cursor: pointer; }
    #contact-section .content .social-media-icon {
      border-color: #1d213f;
      margin-right: 15px; }
    #contact-section .content .social-media-icons-wrapper {
      display: flex; }
  #contact-section .copyright {
    position: fixed;
    width: 10%;
    bottom: 60px;
    display: flex;
    align-items: center;
    opacity: 0; }
    #contact-section .copyright small {
      transform: translateX(50%) rotate(-90deg);
      transform-origin: 0 0;
      white-space: nowrap;
      opacity: 0.5; }

.hand-wrapper {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%; }
  .hand-wrapper > div {
    padding-bottom: 100%;
    position: relative; }
    .hand-wrapper > div .hand {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4;
      clip-path: url(#hand); }

.pigeon-wrapper {
  width: 35%;
  position: absolute;
  bottom: 40vh;
  right: 15%; }
  .pigeon-wrapper > div {
    padding-bottom: 100%;
    position: relative; }
    .pigeon-wrapper > div .pigeon {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      clip-path: url(#pigeon); }

.feather-wrapper {
  height: 0;
  opacity: 0;
  transition: opacity 1000ms ease; }
  .feather-wrapper.visible {
    opacity: 1; }
  .feather-wrapper > div {
    padding-bottom: 100%;
    position: relative; }
    .feather-wrapper > div .feather {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4; }
      .feather-wrapper > div .feather.feather1 {
        clip-path: url(#feather1); }
      .feather-wrapper > div .feather.feather2 {
        clip-path: url(#feather2); }
      .feather-wrapper > div .feather.feather3 {
        clip-path: url(#feather3); }
  .feather-wrapper.feather1-wrapper {
    width: 420px;
    margin-right: -70px;
    align-self: flex-end; }
  .feather-wrapper.feather2-wrapper {
    width: 320px;
    align-self: flex-start; }
  .feather-wrapper.feather3-wrapper {
    width: 200px;
    margin-left: -70px;
    align-self: flex-start; }

.line {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  position: relative;
  z-index: 3; }
  .line div {
    display: flex;
    position: relative;
    width: 31px; }
    .line div .triangle {
      position: absolute;
      left: 52%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 9px;
      border-right-width: 9px;
      border-top: 9px solid #1d213f;
      transition: border-color 300ms ease; }
    .line div span {
      display: block;
      position: absolute;
      width: 23px;
      top: 16px;
      border-bottom: solid 1px #1d213f;
      transition: border-color 300ms ease; }
      .line div span:first-child {
        transform: rotate(45deg);
        transform-origin: 100% 100%;
        left: -7px; }
      .line div span:last-child {
        transform: rotate(-45deg);
        transform-origin: 0% 0%;
        right: -7px; }
  .line:after, .line:before {
    position: relative;
    content: "";
    border-bottom: solid 1px #1d213f;
    transition: border-color 300ms ease;
    flex-grow: 1; }

.background {
  background-image: url("../img/background8-optimized.jpg");
  background-position: center 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#skills-section {
  padding: 16vh 0px 22vh;
  height: auto;
  min-height: auto;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #skills-section .title {
    margin-bottom: 120px; }
  #skills-section .line {
    margin-bottom: 120px; }
  #skills-section .subtitle {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "proxima_nova_altbold", Georgia, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
    margin-top: 30px;
    animation-duration: 1200ms;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden; }
    #skills-section .subtitle.play {
      animation-name: slideInUp; }
  #skills-section .line .triangle {
    border-top-color: #f6f7f3; }
  #skills-section .line span, #skills-section .line:after, #skills-section .line:before {
    border-color: #f6f7f3; }
  #skills-section .container {
    width: 50%; }
  #skills-section .skill-inner {
    display: flex;
    align-items: center;
    justify-content: center; }
  #skills-section .skill {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    animation-duration: 1200ms;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
    visibility: hidden; }
    #skills-section .skill.play {
      animation-name: slideInUp; }
    #skills-section .skill .skill-icon {
      width: 46px;
      height: 46px;
      margin-right: 18px; }
      #skills-section .skill .skill-icon img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
    #skills-section .skill .skill-name {
      color: rgba(246, 247, 243, 0.6);
      margin-bottom: 10px; }
    #skills-section .skill .skill-score {
      display: flex; }
      #skills-section .skill .skill-score .circle {
        width: 12px;
        height: 12px;
        margin-right: 7px;
        border-radius: 50%;
        border: solid 1px white; }
        #skills-section .skill .skill-score .circle:not(.circle-full) {
          border-color: rgba(255, 255, 255, 0.6); }
      #skills-section .skill .skill-score .circle-full {
        background-color: white; }

#contact-section {
  background-color: #f6f7f3; }

#particles-js {
  z-index: -1; }

/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

.lg-object {
  max-height: 80% !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-1 {
  margin-right: 10px !important; }

.mr-2 {
  margin-right: 16px !important; }

.mr-3 {
  margin-right: 25px !important; }

.mr-4 {
  margin-right: 42px !important; }

.mr-5 {
  margin-right: 68px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-1 {
  margin-left: 10px !important; }

.ml-2 {
  margin-left: 16px !important; }

.ml-3 {
  margin-left: 25px !important; }

.ml-4 {
  margin-left: 42px !important; }

.ml-5 {
  margin-left: 68px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-1 {
  margin-bottom: 10px !important; }

.mb-2 {
  margin-bottom: 16px !important; }

.mb-3 {
  margin-bottom: 25px !important; }

.mb-4 {
  margin-bottom: 42px !important; }

.mb-5 {
  margin-bottom: 68px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mt-1 {
  margin-top: 10px !important; }

.mt-2 {
  margin-top: 16px !important; }

.mt-3 {
  margin-top: 25px !important; }

.mt-4 {
  margin-top: 42px !important; }

.mt-5 {
  margin-top: 68px !important; }

/*# sourceMappingURL=style.css.map */
