@import 'variables.scss';
@import 'animations.scss';

@media screen and (min-width: $screen-xs){
    .info-mobile{
        display: none !important;
    }
}

@media screen and (max-width: $screen-xs-max){

    .title{
        font-size: 15vw;
    }

    .text{
        width: 80% !important;
    }

    .header-container{
    }

    .header{
        height: 100px;

        &:not(.dark){
            background-image: url('../img/background8-optimized.jpg');
            background-size: cover;
            background-position: center 0px;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        &.dark{
            background-color: $white;
        }

        nav{
            .logo{
                a{
                    padding-left: 20px;
                    .logo-text{
                        // font-size: 0.8em;
                    }
                }
            }

            .main:not(.side-menu){
                display: none;
            }

            .main{
                &.side-menu{
                    width: 100%;
                    background-color: $white;
                    li{
                        a{
                            font-size: 1em;
                            color: rgba($color: $dark-blue, $alpha: 1) !important;
                            // &:hover{
                            //     color: rgba($color: $dark-blue, $alpha: 1);
                            // }
                            &.active{
                                color: rgba($color: $light-blue, $alpha: 1) !important;
                            }
                            &:active{
                                color: rgba($color: $light-blue, $alpha: 1) !important;
                            }
                        }
                    }
                }
            }
        }

        .hamburger{
            width: 80px;
            animation-name: hamburgerAnimation, fadeIn;
            .hamburger-box{
                width: 20px;
                .hamburger-inner,
                .hamburger-inner:after,
                .hamburger-inner:before{
                    width: 20px;
                    height: 3px;
                    border-radius: 0;
                    left: 0;
                    background-color: $white;
                }

                .hamburger-inner{
                    width: 16px;
                }
                .hamburger-inner:after{
                    width: 16px;
                    left: 6px;
                    // bottom: -8px;
                }
                .hamburger-inner:before{
                    // top: -8px;
                }
            }
        }
    }

    #hero{
        height: 120%;
        >div{
            // grid-template-columns: 20px 60% auto 20px;
            // grid-template-rows: 1fr 20%;
            // grid-template-areas: 
            //     ". text . ."
            //     "project info info info";
            height: 84%;
            display: flex;

            .hero-text{
                width: 100%;
                height: 100%;
                justify-content: center;
                margin: 0 40px;
                box-sizing: border-box;
                padding-bottom: 10vh;
                .actions{
                    justify-content: space-between;
                    a{
                        font-size: 11px;
                    }
                    .button{
                        white-space: nowrap;
                        padding: 14px 32px;
                        font-size: 11px;
                    }
                }
            }

            .social-media{
                display: none;
            }

            .info:not(.info-mobile){
                display: none;
            }

            #info-area{
                grid-template-columns: 30% 70%;
                .project{
                    width: 100%;
                    padding-bottom: 100%;
                    position: relative;
                    .swiper-container{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .info-mobile{
                    .swiper-container{
                        // width: 70%;
                        margin: 0;
                        .swiper-slide{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .info-box{
                                max-width: 90%;
                                h3{
                                    font-size: 16px;
                                }
                                p{
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #face{
            display: none;
        }
    }

    #projects-section{
        padding: 15vh 0px;
        .projects-header{
            height: 200px;
            .title-wrapper{
                margin-bottom: 10px;
            }
            .text{
                max-width: 80%;
            }
        }

        .feather-wrapper{
            display: none;
        }

        .filters{
            li{
                padding: 0 25px;
            }
        }
        .project{
            margin-bottom: 15px;
        }
    }
    
    #skills-section{
        padding: 15vh 0px;

        .title{
            margin-bottom: 0;
        }
        .title-wrapper{
            margin-bottom: 12vh;
        }
        .container{
            width: 100%;
            padding: 0 25px;
        }

        .skill{
            .skill-icon{
                width: 36px;
                height: 36px;
                margin-right: 15px;
            }

            .skill-score{
                .circle{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    #contact-section{
        padding: 20vh 0px;

        .title{
            margin-bottom: 0;
        }

        .hand-wrapper{
            // width: 80%;
            // left: 10%;
        }

        .hand-wrapper,
        .pigeon-wrapper{
            display: none;
        }

        .content{
            margin: 0 40px;
        }

        .copytight{
            display: none;
        }
    }
}