
$font-primary-light: 'proxima_nova_ltthin', Georgia, sans-serif;
$font-primary-regular: 'Proxima Nova', Georgia, sans-serif;
$font-primary-bold: 'proxima_nova_altbold', Georgia, sans-serif;
$font-primary-black: 'proxima_nova_altblack', Georgia, sans-serif;
$font-serif: 'Playfair Display', serif;

$light-blue: #18ebf0;
$light-green: #8deb00;
$dark-blue: #1d213f;
$white:  #f6f7f3;

$spacer: 1em;